header{
    width: 100vw;
    height: 60px;
    background-color: black;
}
.btn-top{
    background-color: grey;
    color:white;
    padding: 1px 10px;
    border-radius: 40px;
    margin: 10px 5px;
    border: none;
}
.max{
    padding-top: 2px;
}
main{
    height: calc(100vh - 140px);

    overflow: auto;
}
.container{

    margin: 0 100px;
    height: 100%;
}
.card{
    width: calc((100% / 5) - 10px);
    height: 150px;
    /*background-color: aliceblue;
    border: 1px solid brown;*/
    margin-left: 8px;
    margin-bottom: 15px;
}
img{
    width: 100%;
    height: 100%;
}
i , span{
    color: white;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.379);
    margin-bottom: 5px;
}

footer{
    background-color: rgb(40, 40, 40);
    width: 100vw;
    height: 80px;
}
.name{
    bottom: 0;
    left: 23px;
    color: white;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.523);
    }
    i{
        bottom: 0;
        left: 0;
        background: none;
    }
.mute{
    padding-left: 20px;
}
.mute>i{
    font-size: 25px;
    background: none;
    padding-bottom: 5px;
}
p{
    font-size: 10px;
    color: white;
}
.angle{
    padding-left: 10px;
    padding-top: 13px;
}
.end-but{
    width: 100px;
    height: 100%;
    background-color: rgb(101, 100, 101);
    color: red;
    cursor: pointer;
}
/** span{position: relative}
.name{
    position: relative;
    bottom: 23px;
}
i , span{
    position:absolute;
    bottom:24px;
}**/

